*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
  font-family: "Oswald", sans-serif;
}

.content {
  display: grid;
  grid-template-rows: 1fr repeat(2, calc(100vh - 11rem));
  row-gap: 2rem;
  background-color: #eee;
  padding: 2rem 2rem;
}
.content section {
  padding: 1rem 2rem;
}
@media screen and (min-width: 800px) {
  .content {
    height: calc(100vh - 7rem);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(30rem, 1fr) 1fr;
  }
  .content section:nth-of-type(1) {
    border-right: 1px solid #aaa;
  }
}
@media screen and (min-width: 1200px) {
  .content {
    height: calc(100vh - 7rem);
    grid-template-rows: 1fr;
    grid-template-columns: 30rem 1fr minmax(20rem, 0.3fr);
  }
  .content section:not(:last-of-type) {
    border-right: 1px solid #aaa;
  }
}

.randomSection {
  display: grid;
  align-content: start;
  row-gap: 2rem;
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .randomSection {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .searchSection {
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .trendingSection {
    grid-column: 2/-1;
    grid-row: 1/2;
  }
}

.header {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  position: sticky;
  z-index: 1;
  top: 0;
}
.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 1rem 3rem;
  background-color: #231942;
  color: white;
  text-align: center;
  font-size: 2.5rem;
}
@media screen and (min-width: 800px) {
  .header {
    grid-template-rows: 1fr;
    height: 7rem;
  }
  .header__title {
    text-align: left;
    justify-content: left;
  }
}

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  background-color: white;
}
.navbar__link, .navbar__link:link, .navbar__link:visited {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #be95c4;
  font-size: 2.5rem;
  padding: 2rem;
  transition: 0.3s all;
  width: 100%;
}
.navbar__link:hover, .navbar__link:link:hover, .navbar__link:visited:hover {
  color: #231942;
}
.navbar__link--active, .navbar__link--active:link, .navbar__link--active:visited {
  color: #231942;
}
@media screen and (min-width: 800px) {
  .navbar {
    display: none;
  }
}

.gifSkeleton {
  width: 100%;
  height: 40vh;
  border: 1px solid #5e548e;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  row-gap: 1rem;
  padding: 2rem;
}
.gifSkeleton .skeleton__svg {
  font-size: 4rem;
  color: #5e548e;
}
@media screen and (min-width: 800px) {
  .gifSkeleton {
    height: 20vh;
  }
}

.loading {
  border: 1px dashed #5e548e;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  color: #231942;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
}
.loading p {
  color: inherit;
}

.spinner {
  width: 20px;
  height: 20px;
  position: relative;
  animation: 1.5s infinite rotate linear;
}
.spinner__bar::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 5px;
  background-color: #231942;
}
.spinner__bar--1::after {
  top: 2.5px;
  left: 7.5px;
  transform: rotate(90deg);
}
.spinner__bar--2::after {
  top: 4.5px;
  right: 2.25px;
  transform: rotate(-45deg);
}
.spinner__bar--3::after {
  top: 9.5px;
  right: 0;
}
.spinner__bar--4::after {
  bottom: 4.5px;
  right: 2.25px;
  transform: rotate(45deg);
}
.spinner__bar--5::after {
  bottom: 2.5px;
  left: 7.5px;
  transform: rotate(90deg);
}
.spinner__bar--6::after {
  bottom: 4.5px;
  left: 2.25px;
  transform: rotate(-45deg);
}
.spinner__bar--7::after {
  top: 9.5px;
  left: 0;
}
.spinner__bar--8::after {
  top: 4.5px;
  left: 2.25px;
  transform: rotate(45deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error {
  border: 1px dashed rgb(255, 107, 8);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  color: rgb(255, 107, 8);
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
}
.error p,
.error i {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
