*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 40%;
  scroll-behavior: smooth;
  scroll-padding-top: 12rem;
}
@media screen and (min-width: 800px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 2500px) {
  html {
    font-size: 100%;
  }
}

.content {
  display: grid;
  grid-template-rows: 1fr repeat(2, calc(100vh - 11rem));
  background-color: #eee;
}
@media screen and (min-width: 1200px) {
  .content {
    height: calc(100vh - 10rem);
    grid-template-rows: 1fr;
    grid-template-columns: minmax(30rem, 25vw) 1fr minmax(30rem, 25vw);
  }
  .content .section:not(:last-of-type) {
    border-right: 1px solid #aaa;
  }
  .content .section {
    margin: 2rem 0;
  }
}

.section {
  display: grid;
  align-content: start;
  row-gap: 2rem;
  padding: 2rem;
}

html {
  font-family: "Oswald", sans-serif;
}

.sectionTitle {
  font-size: 3rem;
  color: #231942;
}
@media screen and (max-width: 1200px) {
  .sectionTitle {
    border-bottom: 1px solid #231942;
  }
}

.randomSection__gifPlaceholder, .randomSection__btn {
  justify-self: center;
}
@media screen and (min-width: 1200px) {
  .randomSection__gifPlaceholder, .randomSection__btn {
    justify-self: stretch;
  }
}
.randomSection__gifPlaceholder {
  display: flex;
  justify-content: center;
}
.randomSection__btn {
  width: 280px;
}
@media screen and (min-width: 1200px) {
  .randomSection__btn {
    width: 100%;
  }
}

.searchSection {
  max-height: 100vh;
  display: grid;
  justify-content: stretch;
  overflow: hidden;
}
.searchSection__initialMessage {
  font-size: 2rem;
  text-transform: capitalize;
  color: #231942;
  text-align: center;
}

.searchForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.searchForm__label {
  font-size: 2.2rem;
  color: #51487a;
}
.searchForm__textInput {
  height: 3.75rem;
  padding: 1rem;
}
.searchForm__btn {
  height: 3.75rem;
}

.searchResultsContainer {
  max-height: 100vh;
  overflow: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 1rem;
}
@media screen and (min-width: 800px) {
  .searchResultsContainer {
    grid-template-columns: repeat(auto-fill, 300px);
  }
}

.trendingSection {
  overflow: hidden;
}

.trendingResultsContainer {
  max-height: 100vh;
  overflow: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 1rem;
}
@media screen and (min-width: 800px) {
  .trendingResultsContainer {
    grid-template-columns: repeat(auto-fill, 300px);
  }
}

.header {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  position: sticky;
  z-index: 1;
  top: 0;
}
.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 1rem 3rem;
  background-color: #231942;
  color: white;
  text-align: center;
  font-size: 2.5rem;
}
@media screen and (min-width: 800px) {
  .header__title {
    font-size: 4rem;
    text-align: left;
    justify-content: left;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    grid-template-rows: 1fr;
    height: 10rem;
  }
  .header__title {
    font-size: 5rem;
    text-align: left;
    justify-content: left;
  }
}

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  background-color: white;
}
.navbar__link, .navbar__link:link, .navbar__link:visited {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #be95c4;
  font-size: 2.5rem;
  padding: 1rem;
  transition: 0.3s all;
  width: 100%;
}
.navbar__link:hover, .navbar__link:link:hover, .navbar__link:visited:hover {
  color: #231942;
}
@media screen and (min-width: 800px) {
  .navbar__link, .navbar__link:link, .navbar__link:visited {
    font-size: 2rem;
  }
}
.navbar__link:not(:last-of-type) {
  margin: 0.5rem 0;
  border-right: 1px solid #be95c4;
}
.navbar__link--active, .navbar__link--active:link, .navbar__link--active:visited {
  color: #231942;
}
@media screen and (min-width: 1200px) {
  .navbar {
    display: none;
  }
}

.gifSkeleton {
  width: 100%;
  min-width: 280px;
  height: 30vh;
  border: 1px solid #51487a;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  row-gap: 1rem;
  padding: 2rem;
  border-radius: 4px;
}
.gifSkeleton .skeleton__svg {
  font-size: 4rem;
  color: #51487a;
}
@media screen and (min-width: 800px) {
  .gifSkeleton {
    min-width: none;
  }
}

.loading {
  border: 1px dashed #51487a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  color: #231942;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
}
.loading p {
  color: inherit;
}

.spinner {
  width: 20px;
  height: 20px;
  position: relative;
  animation: 1.5s infinite rotate linear;
}
.spinner__bar::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 5px;
  background-color: #231942;
}
.spinner__bar--1::after {
  top: 2.5px;
  left: 7.5px;
  transform: rotate(90deg);
}
.spinner__bar--2::after {
  top: 4.5px;
  right: 2.25px;
  transform: rotate(-45deg);
}
.spinner__bar--3::after {
  top: 9.5px;
  right: 0;
}
.spinner__bar--4::after {
  bottom: 4.5px;
  right: 2.25px;
  transform: rotate(45deg);
}
.spinner__bar--5::after {
  bottom: 2.5px;
  left: 7.5px;
  transform: rotate(90deg);
}
.spinner__bar--6::after {
  bottom: 4.5px;
  left: 2.25px;
  transform: rotate(-45deg);
}
.spinner__bar--7::after {
  top: 9.5px;
  left: 0;
}
.spinner__bar--8::after {
  top: 4.5px;
  left: 2.25px;
  transform: rotate(45deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error {
  border: 1px dashed rgb(255, 107, 8);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  color: rgb(255, 107, 8);
  display: flex;
  flex-wrap: wrap;
  font-size: 1.7rem;
}
.error p,
.error i {
  color: inherit;
}

.btn {
  border: 1px solid #51487a;
  color: #51487a;
  padding: 1rem 0;
  border-radius: 4px;
  transition: 0.3s all, box-shadow 1ms;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
.btn:hover {
  background-color: rgba(94, 84, 142, 0.1607843137);
  color: #231942;
  border: 1px solid #231942;
  cursor: pointer;
}
.btn:active {
  box-shadow: inset 5px 5px 15px rgba(94, 84, 142, 0.1607843137);
}

.gifVideo {
  border-radius: 10px;
  border: 1px solid #231942;
}

/*# sourceMappingURL=style.css.map */
