@use "config" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%; // 8px
  scroll-behavior: smooth;
  scroll-padding-top: 12rem;

  @media only screen and (min-width: 800px) {
    font-size: 62.5%; // 10px
  }

  @media only screen and (min-width: 2500px) {
    font-size: 100%; // 16px
  }
}
