@use "config" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
  font-family: $primary-font;
}
