// $active: #ef5da8;
$primary: #dd7230;
// $primary: #ec058e;
// $secondary: #6564db;

$yankees-blue: #231942;
$purple-navy: #5e548e;
$lavender-purple: #9f86c0;
$pastel-violet: #be95c4;
$pink-pearl: #e0b1cb;
$grey: #eee;
$dark-grey: #aaa;
