$yankees-blue: #231942;
$cyber-grape: #51487a;
$transparent-cyber-grape: #5e548e29;
$lavender-purple: #9f86c0;
$pastel-violet: #be95c4;
$pink-pearl: #e0b1cb;
$grey: #eee;
$dark-grey: #aaa;
$red: rgb(255, 107, 8);
