$yankees-blue: #231942;
$purple-navy: #5e548e;
$lavender-purple: #9f86c0;
$pastel-violet: #be95c4;
$pink-pearl: #e0b1cb;
$grey: #eee;
$dark-grey: #aaa;
$red: rgb(255, 107, 8);
// Fonts
$primary-font: "Oswald", sans-serif;

// z-index
$header-zindex: 1;
