@use "config" as *;

.content {
  display: grid;
  grid-template-rows: 1fr repeat(2, calc(100vh - 11rem));
  background-color: $grey;

  .section {
    display: grid;
    align-content: start;
    justify-content: center;
    row-gap: 2rem;
    padding: 2rem;
  }

  @media screen and (min-width: 1200px) {
    height: calc(100vh - 7rem);
    grid-template-rows: 1fr;
    grid-template-columns: minmax(30rem, 25vw) 1fr minmax(20rem, 0.3fr);

    .section:not(:last-of-type) {
      border-right: 1px solid $dark-grey;
    }

    .section {
      margin: 2rem 0;
    }
  }
}
