@use "config" as *;

.content {
  display: grid;
  grid-template-rows: 1fr repeat(2, calc(100vh - 11rem));
  background-color: $grey;

  @media only screen and (min-width: 1200px) {
    height: calc(100vh - $header-size-1200);
    grid-template-rows: 1fr;
    grid-template-columns: minmax(30rem, 20vw) 1fr 25rem;

    .section:not(:last-of-type) {
      border-right: 1px solid $dark-grey;
    }

    .section {
      margin: 2rem 0;
    }
  }
}

.section {
  display: grid;
  align-content: start;
  row-gap: 2rem;
  padding: 2rem;
}
