@use "config" as *;

.content {
  display: grid;
  grid-template-rows: 1fr repeat(2, calc(100vh - 11rem));
  row-gap: 2rem;
  background-color: $grey;
  padding: 2rem 2rem;

  section {
    padding: 1rem 2rem;
  }

  @media screen and (min-width: 800px) {
    height: calc(100vh - 7rem);
    grid-template-rows: 1fr;
    grid-template-columns: 20rem 1fr minmax(20rem, 0.3fr);

    section:not(:last-of-type) {
      border-right: 1px solid $dark-grey;
    }
  }
}

.randomSection {
  display: grid;
  align-content: start;
  row-gap: 2rem;
}
