@use "config" as *;

html {
  font-family: $primary-font;
}

.sectionTitle {
  font-size: 3rem;
  color: $yankees-blue;

  @media screen and (max-width: 1200px) {
    border-bottom: 1px solid $yankees-blue;
  }
}
