@use "../colors.scss" as *;

.randomSection {
  &__gifPlaceholder,
  &__btn {
    justify-self: center;

    @media only screen and (min-width: 1200px) {
      justify-self: stretch;
    }
  }

  &__gifPlaceholder {
    display: flex;
    justify-content: center;
  }

  &__btn {
    width: 260px;

    @media only screen and (min-width: 1200px) {
      width: 100%;
    }
  }

  .gifVideo {
    width: 100%;

    @media only screen and (min-width: 1200px) {
      width: 100%;
    }
  }
}
