@use "../colors.scss" as *;

.searchSection {
  max-height: 100vh;
  display: grid;
  justify-content: stretch;
  overflow: hidden;

  &__initialMessage {
    font-size: 2rem;
    text-transform: capitalize;
    color: $yankees-blue;
    text-align: center;
  }
}

.searchForm {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__label {
    font-size: 2.2rem;
    color: $cyber-grape;
  }

  &__textInput {
    height: 3.75rem;

    padding: 1rem;
  }

  &__btn {
    height: 3.75rem;
  }
}

.searchResultsContainer {
  max-height: 100vh;
  overflow: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, 300px);

  gap: 1rem;

  @media only screen and (min-width: 800px) {
    grid-template-columns: repeat(auto-fill, 300px);
  }
}
