.trendingSection {
  overflow: hidden;
}

.trendingResultsContainer {
  max-height: 100vh;
  overflow: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, 300px);

  gap: 1rem;

  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(auto-fill, 300px);
  }
}
