@use "../config" as *;

.header {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  position: sticky;
  z-index: $header-zindex;
  top: 0;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 1rem 3rem;
    background-color: $yankees-blue;
    color: white;
    text-align: center;
    font-size: 2.5rem;
  }

  @media screen and (min-width: 800px) {
    grid-template-rows: 1fr;
    height: 7rem;

    &__title {
      text-align: left;
      justify-content: left;
    }
  }
}

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  background-color: white;

  &__link,
  &__link:link,
  &__link:visited {
    text-align: center;
    display: block;
    text-decoration: none;
    color: $pastel-violet;
    font-size: 2.5rem;
    padding: 2rem;
    transition: 0.3s all;
    width: 100%;

    &:hover {
      color: $yankees-blue;
    }
  }

  &__link--active,
  &__link--active:link,
  &__link--active:visited {
    color: $yankees-blue;
  }

  @media screen and (min-width: 800px) {
    display: none;
  }
}
